boot.img
my_heytap.img
my_stock.img
system_ext/priv-app/Settings/Settings.apk
system/system/apex/com.android.vndk.current.apex
modem.img
my_product.img
my_region.img
odm/etc/camera/model/license.lic
odm/etc/camera/license_release_fdc.lic
